# Base ------------------------------------------------------------------------
fastapi==0.115.12
gradio== 5.24.0
uvicorn==0.34.0
opencv-python==4.11.0.86
opencv-contrib-python==4.11.0.86
onnx==1.18.0
onnxruntime==1.20.0
onnxruntime-gpu==1.20.0
pyyaml==6.0.2
easydict==1.9
fvcore==0.1.5.post20210825
# pillow==11.2.1 #系统已经安装
psutil==7.0.0
PyYAML==6.0.2
requests==2.32.3
thop==0.1.1.post2209072238
tqdm==4.67.1
# sympy==1.13.1 #系统已经安装
protobuf==5.29.4

# Logging ---------------------------------------------------------------------
tensorboard==2.19.0

# Plotting --------------------------------------------------------------------
pandas==2.2.3
matplotlib== 3.10.1
seaborn==0.13.2

# Extras ----------------------------------------------------------------------
# mss
albumentations>=1.0.3
pycocotools>=2.0
av==14.2.0


####----------------
sktime==0.38.1
scikit-learn==1.6.1
scipy==1.15.3

