numpy==1.16.0
#numba==0.51.2
scipy==1.4.1
pyyaml==5.1.2
easydict==1.9
json-tricks==3.13.5
pycrypto==2.6.1
bottle==0.12.18
paste==3.5.0
#tqdm==4.54.1
matplotlib==3.3.3
#munkres==1.1.4
ffmpeg==1.4
Pillow==8.1.2
fvcore==0.1.5.post20210825
scikit-image==0.17.2